.vue-flow {
  /* 节点的基本样式 */
  .vue-flow__node {
    /* background-color: var(--td-bg-color-container); */
    color: var(--td-text-color-primary);
    /* border: 1px solid var(--td-text-color-primary); */
    /* border-radius: 4px; */
  }

  /* 连线用的点 */
  .vue-flow__handle {
    width: 9px;
    height: 9px;
    /* border: unset; */
    --vf-handle: var(--td-brand-color-6);
  }
  /* 控制 */
  .vue-flow__resize-control {
    /* 控制点 */
    &.handle {
      width: 9px;
      height: 9px;
      background-color: var(--td-brand-color-4);
    }
    /* 控制线 */
    &.line {
      border-color: var(--td-brand-color-4);
      &.top {
        border-top-width: 3px;
      }
      &.bottom {
        border-bottom-width: 3px;
      }
      &.left {
        border-left-width: 3px;
      }
      &.right {
        border-right-width: 3px;
      }
    }
  }

  .vue-flow__node-default {
    padding: 0;
    background: unset;
  }
  /* 基础节点 vue-flow__node-baseNode */
  .vue-flow__node-baseNode {
    &:hover {
      box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.08);
    }
  }
}
